{% load static %}
<div class="container">
	<div class="row">
		<div class="col-sm-8">
			<h2 style="text-decoration:underline; border:blue;">About Us</h2>
			<p>To and also being kept so that it can be retrieved at anytime by anybody who is in need of it. Again, it will make the information remain authentic without adding or removing anything</p>
			<p>To eradicate this to its optimum, a robust database and web server should be implemented where the information can be shared easily among the students and also being kept so that it can be retrieved at anytime by anybody who is in need of it. Again, it will make the information remain authentic without adding or removing anything</p>
		</div>
		<div class="col-sm-4">
			<img src="{% static 'img/h.jpg' %}" alt="" class="img-responsive hospital">
		</div>
	</div>
</div>