{% load crispy_forms_tags %}
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
			<h2 class="text-center" style="text-decoration:underline; margin-bottom:50px;">Contact Us</h2>
				<form method="POST" action="">
				{% csrf_token %}
				{{form|crispy}}
				<input type="submit" class="btn btn-success" value="Send"/>
				</form>
			</div>
			<div class="col-sm-6">
				<h2 class="text-center" style="text-decoration:underline; margin-bottom:50px;">Where to find Us</h2>
				<div class="contact_box">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3533.4635441144937!2d85.386017114619!3d27.67206458280647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1a7ad41a76c9%3A0xc21e635f0f785c47!2z4KSu4KSn4KWN4KSv4KSq4KWB4KSwIOCkoOCkv-CkruClgCDgpIXgpLjgpY3gpKrgpKTgpL7gpLI!5e0!3m2!1sne!2snp!4v1544758648774" width="600" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>