
<div class="container-fluid bg-dark footer ">
	<div class="row">
		
			<div class="col-sm-6">
				<span class='footer-text'>Follow Us @ </span>
				<a href="#" data-toggle='tooltip' data-placement='bottom' title='facebook' class="social_icons"><i class='fa fa-facebook' style='font-size:18px; color:#fff;'></i></a>
				<a href="#" data-toggle='tooltip' data-placement='bottom' title='twitter' class="social_icons"><i class='fa fa-twitter' style='font-size:18px; color:#fff;'></i></a>
				<a href="#" data-toggle='tooltip' data-placement='bottom' title='google-plus' class="social_icons"><i class='fa fa-google-plus' style='font-size:18px; color:#fff;'></i></a>
				<a href="#" data-toggle='tooltip' data-placement='bottom' title='instagram' class="social_icons"><i class='fa fa-instagram' style='font-size:18px; color:#fff;'></i></a>
			</div>
			<div class="col-sm-6 text-right">
				<small style="color:white;">copyright @2018</small>
			</div>
	</div>
</div>
