{% load static %}
<div class="container-fluid services">
		<div class="container">
			<h2 class="text-center" style="text-decoration:underline; margin-bottom:50px;">Our Services</h2>
			<div class="row">
				<div class="col-sm-4">
					<img src="{% static 'img/13.jpg' %}" alt="" class="img-responsive">
					<h4 class="text-center">Free Medicine</h4>
				</div>
				<div class="col-sm-4">
					<img src="{% static 'img/14.jpg' %}" alt="" class="img-responsive">
					<h4 class="text-center">Medical Counselling</h4>
				</div>
				<div class="col-sm-4">
					<img src="{% static 'img/15.jpg' %}" alt="" class="img-responsive">
					<h4 class="text-center">Qualified Doctor</h4>
				</div>
			</div>
		</div> 
	</div>