{% load static %}
<div class="container-fluid services">
		<div class="container">
			<h2 class="text-center">Our Services</h2>
			<div class="row">
				<div class="col-sm-4">
					<img src="{% static 'img/13.jpg' %}" alt="" class="img-responsive">
					<h4 class="text-center">Free medicine</h4>
				</div>
				<div class="col-sm-4">
					<img src="{% static 'img/14.jpg' %}" alt="" class="img-responsive">
					<h4 class="text-center">medical counselling</h4>
				</div>
				<div class="col-sm-4">
					<img src="{% static 'img/15.jpg' %}" alt="" class="img-responsive">
					<h4 class="text-center">qualified doctor</h4>
				</div>
			</div>
		</div> 
	</div>