{% extends 'master/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Update Admin | {{block.super}}{% endblock %}
{% block content %}
{% include 'partial/navbar.html' %}
<div class="rectangle">
	<h2 class="text-center heading">Admin Dashboard</h2>
</div>
<div class="container-fluid body-section">
  <div class="row">
    <div class="col-md-2" style=" padding:10px;">
      <div class="list-group">
        <a href="{% url 'admin_dashboard' %}" class="list-group-item">
          {% if instance.image %}
          <img src="{{instance.image.url}}"  class='img-circle' alt="admin image" style="height:150px; width:150px;"><br>
          {% endif %}
          <h4 class="text-center">{{request.user.name}}</h4>
        </a>
        <h5><a href="{% url 'edit_admin' %}" class="list-group-item">
          <i class="fa fa-edit" aria-hidden="true"></i> Edit my Profile
        </a></h5>
        <h5></h5><a href="{% url 'change_password' %}" class="list-group-item">
        <i class="fa fa-key"></i>
        Change Password
      </a></h5>
      <h5><a href="{% url 'register' %}" class="list-group-item">
        <i class="fa fa-pencil"></i>
        Register staffs
      </a></h5>
      <h5><a href="{% url 'logout' %}" class="list-group-item">
       <i class="fa fa-sign-out"></i> Log Out
     </a></h5>
   </div>
 </div>
 <div class="col-md-10">
   <h1>Update <small>Admin</small> </h1> <hr>
   <form method="POST" enctype='multipart/form-data' action="{% url 'edit_admin' %}">
    {% csrf_token %}
    {{ uform|crispy }}
    {{ aform|crispy }}
    <button type="submit" class="btn btn-primary" >Update</button> 
  </form>
</div>
</div>
</div>
{% endblock %}