{% extends 'master/base.html' %}
{% load staticfiles %}
{% block content %}
<style type="text/css">
  body{
    background-color: aliceblue;
  }
</style>
<div class="row">
    <div class="container">
      <h2 class="text-center" style="font-weight:bold;">Patient Lists</h2>
      <br>
      <div class="col-sm-12">

       <table class="table table-hover table-striped table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Age</th>
            <th>Sex</th>
            <th>Contact</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for e in patient %}
          <tr>
            <td>{{e.id}}</td>
            <td>{{e.name}}</td>
            <td>{{e.address}}</td>
            <td>{{e.age}}</td>
            <td>{{e.sex}}</td>
            <td>{{e.contact}}</td>
            <td>{{e.description}}</td>
            <td><a href="#"><i class="fa fa-trash fa-1x" aria-hidden="true"></i></a> | <a href="{% url 'patient_detail' id=e.id %}"><i class="fa fa-eye fa-1x" aria-hidden="true"></i></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

