{% extends 'master/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Medical Dashboard | {{block.super}}{% endblock %}
{% block content %}
{% include 'partial/navbar.html' %}
<div class="container">
  <div class="row">
    <div class="col-sm-3 ">
      <h2>Patients Detail</h2>
      <p>Personal  Info:</p>  
      <div class="thumbnail">
        <ul>
          <h5><li>Id={{patient.id}}</li></h5>
          <h5><li>Name:{{patient.name}}</li></h5>
          <h5><li>Address:{{patient.address}}</li></h5>
          <h5><li>Contact:{{patient.contact}}</li></h5>
          <h5><li>Gender:{{patient.sex}}</li></h5>
          <h5><li>Date:{{patient.date}}</li></h5>
          <h5><li>Description:{{patient.description}}</li></h5>
        </ul>
      </div>
    </div>
      <!-- <h2>Medicine Recommended:</h2>
      {% for doc in doctor %}
      <div class="thumbnail">
        <ul>
          <h5><li>Medicine Name:{{doc.medicine_name}}</li></h5>
          <h5><li>Comments:{{doc.comment}}</li></h5>
          <h5><li>Refered_by(Doctor):{{doc.refered_by}}</li></h5>
          <h5><li>Follow_Up_Date:{{doc.follow_up_date}}</li></h5>
        </ul>
      </div>
      {% endfor %}
    </div> 
    <div class="col-sm-7">
    <form method="POST" enctype='multipart/form-data' action="">
      {% csrf_token %}
      {{ form |crispy }}
      <button type="submit" class="btn btn-primary" >Save</button> 
    </form> --> 
    <div class="col-sm-9">
      <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><h4>Patient Lab Test</h4></a></li>
          {% if request.user.is_medical %}
          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><h4>Patient Medicine</h4></a></li>
          {% endif %}  
          
          
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="profile">
            <table class="table table-hover table-striped table-bordered">
              <thead>
                <tr>
                 <th>Id</th>
                 <th>Date</th>
                 <th>Test_Name</th>
                 <th>Result</th>
                 <th>Amount</th>
                 <th>Is_Sampled</th>
                 <th>Action</th>
               </tr>
             </thead>
             <tbody>
              {% for e in dt %}
              <form method="POST" action="#">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{e.id}}">
                <tr>
                  <td>{{e.id}}</td>
                  <td>{{e.date}}</td>
                  <td>{{e.test_name}}</td>
                  <td>
                    <input type="text" value="{{e.result}}" name="result">
                  </td> 
                  <td>
                    <input type="text" value="{{e.amount}}" name="amount">
                  </td>
                  <td>
                    {% if e.is_sampled %}
                    <input type="checkbox" name="is_sampled" checked>
                    {% else %}
                    <input type="checkbox" name="is_sampled" value="">
                    {% endif %}
                  </td>
                  <td><input type="submit" class="btn btn-primary" value="Save"></td>
                </tr>
              </form>
              {% endfor %}
            </tbody>
          </table>

          <a href="{% url 'lab_bill' patient.id %}" class="btn btn-warning">Go to Lab Billing</a>

        </div>

      </div>
    </div>
  </div>
  {% endblock %}
  {% include 'partial/footer.html' %}