{% extends 'master/base.html' %}
{% block title %}Doctor Dashboard | {{block.super}}{% endblock %}
{% block content %}
{% include 'partial/navbar.html' %}
<div class="rectangle">
	<h1 class="text-center heading">Doctor Dashboard</h1>
</div>

<div class="container-fluid body-section">
  <div class="row">
    <div class="col-md-2">
      <div class="list-group">
       <a href="{% url 'doctor_dashboard' %}" class="list-group-item active">
        {% if instance.image %}
        <img src="{{instance.image.url}}"  class='img-circle' alt="admin image" style="height:150px; width:150px; background:red; !important "><br>
        {% endif %}
        <h4 class="text-center">My Accounts</h4>
      </a>
      <a href="{% url 'edit_doctor' %}" class="list-group-item">
       Edit my Profile
     </a>
     <a href="{% url 'logout' %}" class="list-group-item">
       Change Password
     </a>
   </div>
 </div>

 <div class="col-md-10 pull-right">
  <h3>Enter Patient's ID</h3>
  <form method="GET"  action=""  style="margin-top:25px;">
    <input type="text" name='q' placeholder="Search Patient's" value="{{request.GET.q}}" />
    <input type="submit" value="Search"/>
  </form>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      {% if request.GET.q %}
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Name:</th>
            <th>Address:</th>
            <th>Age:</th>
            <th>Sex:</th>
            <th>Contact:</th>
            <th>Description:</th>
            <th>Date:</th>
          </tr>
        </thead>
        <tbody>
          {% for patient in patient_list %}
          <tr>
            <td><a href="{% url 'patient_detail' id=patient.id %}">{{patient.name}}</a></td>
            <td>{{patient.address}}</td>
            <td>{{patient.age}}</td>
            <td>{{patient.sex}}</td>
            <td>{{patient.contact}}</td>
            <td>{{patient.description}}</td>
            <td>{{patient.date}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
