{% extends 'master/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Doctor Dashboard | {{block.super}}{% endblock %}
{% block content %}
{% include 'partial/navbar.html' %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Patients Detail</h2>
      <p>Personal  Info:</p>  
      <div class="thumbnail">
      <ul>
        <h5><li>Id={{patient.id}}</li></h5>
        <h5><li>Name:{{patient.name}}</li></h5>
        <h5><li>Address:{{patient.address}}</li></h5>
        <h5><li>Contact:{{patient.contact}}</li></h5>
        <h5><li>Gender:{{patient.sex}}</li></h5>
        <h5><li>Date:{{patient.date}}</li></h5>
        <h5><li>Description:{{patient.description}}</li></h5>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <form method="POST" action="{% url 'add_medicine' id=patient.id %}" enctype="multipart/form-data">
    {% csrf_token %}
      {{form|crispy}}
      <input type="submit" class="btn btn-success" value="Save"/>
    </form>
  </div> 
</div>

{% include 'partial/footer.html' %}
{% endblock %}
