{% extends 'master/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Update Operator | {{block.super}}{% endblock %}
{% block content %}
{% include 'partial/navbar.html' %}
<div class="rectangle">
  <h2 class="text-center heading">Operator Dashboard</h2>
</div>
<div class="container-fluid body-section">
    <div class="row">
        <div class="col-md-2">
            <div class="list-group">
                <a href="index.html" class="list-group-item">
                {% if instance.image %}
                  <img src="{{instance.image.url}}"  class='img-circle' alt="admin image" style="height:150px; width:150px; background:red; !important "><br>
                {% endif %}
                  <h4 class="text-center">{{request.user.name}}</h4>
                </a>
                <a href="{% url 'edit_doctor' %}" class="list-group-item">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                   Edit my Profile
                </a>
                <a href="{% url 'register_patient' %}" class="list-group-item">
                 <i class="fa fa-pencil"></i> Register Patient
                </a>
                <a href="#" class="list-group-item">
                  <i class="fa fa-key"></i>
                   Change Password
                </a>
                <a href="{% url 'logout' %}" class="list-group-item">
                  <i class="fa fa-sign-out"></i>
                   Log Out
                </a>
            </div>
        </div>
        <div class="col-md-10">
           <h1>Edit <small>Operator</small> </h1> <hr>
           <form method="POST" enctype='multipart/form-data' action="{% url 'edit_operator' %}">
            {% csrf_token %}
              {{ uform|crispy }}
              {{ oform|crispy }}
              <button type="submit" class="btn btn-primary" >Update</button> 
           </form>
        </div>
    </div>
</div>
{% endblock %}