{% extends 'master/base.html' %}
{% load staticfiles %}
{% block title %}Register Here | {{block.super}}{% endblock %}
{% block content %}
  <style type="text/css">
  body{
    background-image:url({% static "img/11.jpg" %});
  }
  .box{
    opacity: 0.8;
    filter: alpha(opacity=30);
    background-color: #eee;
  }
  
  </style>

  <div class="register_body">
    <!-- Page Heading / End -->

    <!-- Page Content -->
    <section class="page-content">
      <div class="container">

        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <!-- {% if msg %}
            <div class="alert alert-success">{{msg}}</div>
            {% endif %}
            {% if errmsg %}
            <div class="alert alert-danger">{{errmsg}}</div>
            {% endif %} -->
            <div class="spacer-lg visible-sm visible-xs"></div>
            <div class="box">
            <h2 class="text-center">Register Here</h2>
              <form action="" method="POST" role="form">
                {{form.as_p}}
                {% csrf_token %}
                <button type="submit" class="btn btn-success btn-lg btn-block"> Register </button>
              </form>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
    <!-- Page Content / End -->
{% endblock %}